@media screen and (min-width: 480px) and (max-width: 1280px) {

    /* CONTAINER1 */
    .container .box1 h1 {
        font-size: 25px;
        text-align: center;
    }

    .container .box1 img {
        position: relative;
        left: -40px;
    }

    .container .box1 h3 {
        margin-left: -40px
    }

    .right-text h1 {
        text-align: center;
    }

    .right-text p {
        font-size: 18px;
        text-align: center;
    }

    table {
        margin-left: -60px;
        margin-bottom: : 30px;
        font-size: 21px;
    }

    /* CONTAINER2 */
    .container2 {
        background-repeat: no-repeat;
        background-position: 1px 10px;
    }

    .container2 p {
        text-align: justify;
        font-size: 18px;
        padding-right: 450px;
    }

    .container2 h1 {
        text-align: center;
        padding-right: 450px;
    }

    .container2 hr {
        width: 300px;
        position: relative;
        left: -210px
    }

    /*   CONTAINER 3   */
    .image {
        margin-left: 40px
    }

    /*   CONTAINER4   */
    .allimage {
        margin: 1px;
        display: grid;
    }

    .image3 {
        position: relative;
        right: 35px
    }

    /*   CONTAINER5   */
    .container5 {
        background-position: 47.5%;
    }

    /* CONTAINER6 */
    .imageall {
        display: grid;
    }
    .lokasi{
        position: relative;
        left: 25px
    }
    .email{
        position: relative;
        left: 15px;
    }
    .copyright{
        position: relative;
        right: 15px
    }
}