html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(179, 174, 174);
}

.container {
    background-image: url(img/background.png);
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/* bagian kiri */
.box1 {
    background-image: url(img/vapor.gif);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    border: 2px solid white;
    margin: 110px;
    margin-bottom: 50px;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.box1 img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 80px;
    padding-top: 20px;
}

.box1 h1 {
    font-size: 35px;
    color: white;
}

.box1 h3 {
    color: white;
    position: relative;
    left: 110px;
    bottom: 14px;
}

/* bagian kanan */
.right-text {
    margin: 105px;
}

.right-text h1 {
    color: white;
    font-size: 30px;
    text-decoration: underline;
}

.right-text p {
    color: white;
    font-size: 18px;
}

hr {
    width: 60%;
}

table {
    width: 55%;
    line-height: 50px;
    padding-top: 30px;
    font-size: 22px;
    color: white;
}

/* ABOUT ME */
.container2 {
    width: 900px;
    height: 300px;
    margin: auto;
    text-align: justify;
    padding: 10px;
    background-image: url(img/vapor2.gif);
    background-repeat: repeat-x;
    background-position: center top;
    background-size: 350px;
}

.container2 h1 {
    color: purple;
    text-align: center;
}

.container2 p {
    color: rgb(53, 52, 52);
    font-size: 20px;
}

/* MY SKILL */
.container3 {
    width: 100%;
}

.image {
    display: flex;
    margin-left: 460px;
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

.text2 h1 {
    text-align: center;
    color: purple;
    font-weight: bold;
}

/* MY PORTOFOLIO */
.allimage {
    display: flex;
    margin-left: 270px;
    padding: 30px;
}

.image2 {
    text-align: center;
}

.image3 {
    margin-left: 70px;
    text-align: center;
}

.saya {
    width: 300px;
    height: 300px;
}

.saya2 {
    width: 300px;
    height: 300px;
}

.container4 {
    padding: 30px;
}

.container4 h1 {
    text-align: center;
    color: purple;
}

.container4 p {
    color: purple;
    font-weight: bold;
    font-size: 18px;
}

.allimage p a {
    text-decoration: none;
    color: rgb(60, 60, 204);
}

.allimage p a:hover {
    text-decoration: underline;
    color: purple;
    font-size: 20px;
}

/* KOMENTAR */
.container5 {
    text-align: center;
    width: 100%;
    height: 80%;
    background-image: url(img/background1.jpg);
    background-position: right;
    background-clip: border-box;
    padding: 15px;
}

.container5 h1 {
    color: rgb(255, 183, 0);
}

form {
    display: grid;
    width: 400px;
    margin: auto;
    padding: 10px;
}

input {
    width: 400px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgb(255, 183, 0);
}

input:hover {
    height: 40px;
    transition: 0.3s;
    box-shadow: 0 0 10px black;
}

label {
    color: rgb(255, 183, 0);
    font: bold;
    font-size: 20px;
}

textarea {
    background: transparent;
    margin: 10px;
    border: 1px solid rgb(255, 183, 0);
}

textarea:hover {
    box-shadow: 0 0 10px black;
}

.container5 p {
    color: rgb(255, 183, 0);
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 20px;
}

#submit {
    margin-top: 10px;
    width: 30%;
    border-radius: 20px;
    margin-left: 20px;
}

#submit:hover {
    background-color: cyan;
}


/* FOOTER */
.container6 {
    background-color: black;
}

.imageall {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.imageall img {
    background-color: yellow;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.lokasi {
    text-align: center;
    margin-right: 70px;
    color: white;
}

.imageall h2 {
    letter-spacing: 5px;
}

.imageall h3 {
    font-size: 17px;
    color: gray;
}

.email {
    margin-right: 60px;
    text-align: center;
    color: white;
}

.whatsapp {
    text-align: center;
    margin-right: 40px;
    color: white;
}

.copyright {
    color: white;
    text-align: center;
    font: bold;
    font-size: 18px;
}


/* MEDIA */
@media screen and (min-width: 480px)(max-width: 100%)
{
    /* CONTAINER1 */
    .container .box1 h1 {
        font-size: 25px;
        text-align: center;
    }

    .container .box1 img {
        position: relative;
        left: -40px;
    }

    .container .box1 h3 {
        margin-left: -40px;
    }

    .right-text h1 {
        text-align: center;
    }

    .right-text p {
        font-size: 18px;
        text-align: center;
    }

    table {
        margin-left: -60px;
        margin-bottom: : 30px;
        font-size: 21px;
    }

    /* CONTAINER2 */
    .container2 {
        background-repeat: no-repeat;
        background-position: 1px 10px;
    }

    .container2 p {
        text-align: justify;
        font-size: 18px;
        padding-right: 450px;
    }

    .container2 h1 {
        text-align: center;
        padding-right: 450px;
    }

    .container2 hr {
        width: 300px;
        position: relative;
        left: -210px;
    }

    /*   CONTAINER 3   */
    .image {
        margin-left: 40px;
    }

    /*   CONTAINER4   */
    .allimage {
        margin: 1px;
        display: grid;
    }

    .image3 {
        position: relative;
        right: 35px;
    }

    /*   CONTAINER5   */
    .container5 {
        background-position: 47.5%;
    }

    /* CONTAINER6 */
    .imageall {
        display: grid;
    }
    .lokasi{
        position: relative;
        left: 25px;
    }
    .email{
        position: relative;
        left: 15px;
    }
    .copyright{
        position: relative;
        right: 15px;
    }
}











/* clear fix */
.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}